<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomeScreen</title>
</head>
<body>
  <h1>All Planets</h1>
  <ul>
    <% planets.forEach(function(planet) { %>
      <li>
        <%= planet.name %>
          - 
        <%= planet.isPlanet ? 'yes' : 'used to be' %>
      </li>
    <% }); %>
  </ul>
</body>
</html>